.sidebar {
    width: 300px;
    height: 800px;
    background-color: #494e58;
    margin: 0px;

    display: flex;
    flex-direction: column;
}

.sidespace {
    padding: 10px 50px;
    cursor: pointer;
}

.sidespace:hover {
    background-color: #404857;
    transition: 0.3s;
}

.sidelink {
    font-size: 18px;
    color: white;
}

.dashboard-content {
    display: flex;
}

.main {
    padding: 20px 40px;
}
