{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
        <style>
            body {
                background-image: url("{% static 'truck.jpg' %}");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }

            * {
                color: white;
            }
        </style>
    </div>
    <h1 style="position: absolute; top: 60%; left: 15%;">Delivr</h1>
    <h2 style="position: absolute; top: 65%; left: 15%;">The future of product distribution.</h2>
{% endblock %}
