{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'dashstyles.css' %}">
{% endblock %}

{% block content %}
    <div class="dashboard-content">
        <div class="sidebar">
            <a href="{%url 'offer'%}" class="sideLink">Give a Ride</a>
            <a href="{%url 'rent'%}" class="sideLink">Give a Ride</a>
            <a href="{%url 'request'%}" class="sideLink">Give a Ride</a>
        </div>
        <div class="main">
            <h1>Welcome {{ user.first_name }} {{ user.last_name }}</h1>
        </div>
    </div>
{% endblock %}
