{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'dashstyles.css' %}">
{% endblock %}

{% block content %}
    <div class="dashboard-content">
        <div class="sidebar">
            <a href="{% url 'offer' %}" class="sideLink">Make Ride Offer</a>
            <a href="{% url 'rent' %}" class="sideLink">Find Ride</a>
            <a href="{% url 'request' %}" class="sideLink">Request Ride</a>
            <a href="{% url 'contract' %}" class="sideLink">Find Requests</a>
        </div>
        
        <div class="main">
            {% block dash %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
