{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'dashstyles.css' %}">
{% endblock %}

{% block content %}
    <div class="dashboard-content">
        <div class="sidebar">
            <a href="{% url 'offer' %}">
                <div class="sidespace">
                    <p class="sidelink">Make Ride Offer</p>
                </div>
            </a>
            <a href="{% url 'rent' %}">
                <div class="sidespace">
                    <p class="sidelink">Find Ride</p>
                </div>
            </a>
            <a href="{% url 'request' %}">
                <div class="sidespace">
                    <p class="sidelink">Request Ride</p>
                </div>
            </a>
            <a href="{% url 'contract' %}">
                <div class="sidespace">
                    <p class="sidelink">Find Requests</p>
                </div>
            </a>
        </div>
        
        <div class="main">
            {% block dash %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
