{% extends "dashboard/dashboard.html" %}

{% block dash %}
    <form method="POST">
        <br>
        <div class="vehicleWrapper">
            {{ form.vehicle_type.errors }}
            <label for="{{ form.vehicle_type.id_for_label }}"><strong>Vehicle Type: </strong></label>
            <br>
            {{ form.vehicle_type }}
        </div>
        <br>
        <div class="locationWrapper">
            {{ form.location.errors }}
            <label for="{{ form.location.id_for_label }}"><strong>Location:</strong></label>
            {{ form.location }}
        </div>
        <br>
        <div class="beginWrapper">
            {{ form.begin_date.errors }}
            <label for="{{ form.begin_date.id_for_label }}"><strong>Begin Date:</strong></label>
            {{ form.begin_date }}
        </div>
        <br>
        <div class="endWrapper">
            {{ form.end_date.errors }}
            <label for="{{ form.end_date.id_for_label }}"><strong>End Date:</strong></label>
            {{ form.end_date }}
        </div>
        <br>
        <div class="pricingModelWrapper">
            {{ form.pricing_model.errors }}
            <label for="{{ form.pricing_model.id_for_label }}"><strong>Model:</strong><label>
            <br>
            {{ form.pricing_model }}
        </div>
        <br>
        <div class="priceWrapper">
            {{ form.price.errors }}
            <label for="{{ form.price.id_for_label }}"><strong>Price:</strong></label>
            <br>
            {{ form.price }}
        </div>
        <br>
        <div class="loadWrapper">
            {{ form.max_load.errors }}
            <label for="{{ form.max_load.id_for_label }}"><strong>Max Load:</strong><label>
            {{ form.max_load }}
        </div>
        <br>
        <div class="sizeWrapper">
            {{ form.size.errors }}
            <label for="{{ form.size.id_for_label }}"><strong>Size:</strong></label>
            {{ form.size }}
        </div>
        <br>
        <div class="descriptionWrapper">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}"><strong>Description:</strong></label>
            <br>
            {{ form.description }}
        </div>
        <input type="submit">
    </form>
{% endblock %}
